.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.wrap {
    display: flex;
    margin: 20px;
    flex-wrap: wrap;
}

.box {
    height: 40px;
    border: 1px solid green;
    width: 33%;
}

.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 20px;
}

.center .box,
.space-around .box,
.space-between .box,
.end .box {
    width: 50px;
}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}

/* align-center */
.align-center,
.align-end,
.stretch {
    display: flex;
    margin-bottom: 20px;
    height: 200px;
    border: 1px solid red;
}

.align-center .box,
.align-end .box,
.stretch .box {
    width: 50px;
}

.align-center {
    align-items: center;
    justify-content: center;
}

.align-end {
    align-items: flex-end;
    justify-content: center;
}

.stretch .box{
    height: auto;
}